.container {
    padding: 30px 10px;
}

@media screen and (min-width: 1080px) {
    .container {
        padding: 30px 50px;
    }
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // margin-right: 10px;  
    margin: auto 0;
}

.pagination-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination p {
    margin: auto 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}